<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CosmosConnection" value="AccountEndpoint=https://challenge2db.documents.azure.com:443/;AccountKey=RacPOP2bwWCykeKKory1oXm6VLdCKPUfuTrEUD3v4vSI9i3edGOy1OhX2vcJt1GIHPH7KT2KOicrlmDnTzNsuw==;" />
    <add key="PrimaryKey" value="RacPOP2bwWCykeKKory1oXm6VLdCKPUfuTrEUD3v4vSI9i3edGOy1OhX2vcJt1GIHPH7KT2KOicrlmDnTzNsuw==" />
  </appSettings>
</configuration>